h1{
    font-size: 2rem;
    margin-bottom: 1rem;
font-weight: bold;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}
h3{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: bolder;

}
.card {
    background-color: brown;|
    width: 100px;
    height: 100px;
    margin: 8px;
    padding: 8px;
}
.card-conteiner{
    background-color: black;
    margin: 8px;
    padding: 8px;
}
.color-celeste{
    background-color: lightblue;
}.color-amarillo{
background-color: lightgoldenrodyellow;
}






font-family: 'Roboto', sans-serif;